<h2 class="form-header"> Update Password </h2>

<form method="POST" action="/auth/newpassword?_method=PUT">

    <div class="form-group">
        <label>Current Password</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" name="newPasswordConfirm" class="form-control" />
    </div>

    <input type="hidden" name="id" value="<%= currentUser._id%>" />

    <br>

    <div>
        <button type="submit" class="btn btn-outline-primary">Update Password</button>
    </div>

</form>