<h2>Add Team</h2>
<form method="POST" action="/teams/add">

    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Sports</label>
        <select name="sports" class="form-control">

            <% sports.forEach(function(sports){ %> 
            <option value="<%= sports._id%>"><%= sports.name%></option>
            <% }) %>
            
        </select>
    </div>
    <div>
        <label>Borough</label>
        <input type="text" name="borough" />
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Minimum Age</label>
        <input type="number" name="minAge" />
    </div>
    <div>
        <label>Level</label>
        <input type="text" name="level" />
    </div>
    <div>
        <label>Contact Email</label>
        <input type="email" name="contactEmail" />
    </div>
    <div>
        <label>Contact Phone Number</label>
        <input type="text" name="contactPhone" />
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="address" />
    </div>
    <br>
    <button type="submit">Add Team</button>


</form>