<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Teams </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div>
        <h1><a class="no-style" href="/">London Teams Logo</a></h1>
        <!-- Add Signup/Sign in/Logout later -->
    </div>
    <hr>
    <div>
        <nav>
            <a href="/teams/index"><button type="menu" class="btn btn-outline-primary">All Teams</button></a>
            <a href="/teams/add"><button type="menu" class="btn btn-outline-primary">Add Team</button></a>
            <a href="/sports/add"><button type="menu" class="btn btn-outline-primary">Add Sport</button></a>
            <a href="/sports/index"><button type="menu" class="btn btn-outline-primary">All Sports</button></a>
            <!-- <a href="/boroughs/index">All Boroughs</a>
            <a href="/boroughs/add">Add Borough</a> -->
        </nav>
    </div>
    <hr>

    <%- body%>
</body>
</html>