<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Teams </title>
</head>
<body>
    <h1><a href="/">London Teams Logo</a></h1>
    <nav>
        <a href="/teams/index">All Teams</a>
        <a href="/teams/add">Add Team</a>
        <a href="/boroughs/index">All Boroughs</a>
        <a href="/boroughs/add">Add Borough</a>
    </nav>


    <%- body%>
</body>
</html>