body {
    /* background-color: #CAE9FF; */
    max-width: 1200px;
    color: black;
    margin: 0 auto;
}

.no-style {
    text-decoration: none;
}

a {
    color: #5FA8D3;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.index-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.btn {
    border-color: #1B4965;
    color: #1B4965;
    --bs-btn-hover-bg: #5FA8D3;
    --bs-btn-hover-border-color: #5FA8D3;
}

.teamsButton{
background-color:#1B4965 ;
}

.sportsButton{
    background-color:#1B4965 ;

}