<h2>Add Borough</h2>
<form method="POST" action="/boroughs/add">

    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Postcodes</label>
        <textarea name="postcodes"></textarea>
    </div>
    <div>
        <label>Sports</label>
        <input type="text" name="sports" />
    </div>
    <div>
        <label>Teams</label>
        <input type="text" name="teams" />
    </div>

    <br>
    <button type="submit">Add Borough</button>


</form>