<h2>Add A Sport</h2>
<form method="POST" action="/sports/add">

    <div>
        <label>Name</label>
        <input type="text" name="name" />
    </div>
    <!-- <div>
        <label>Teams</label>
        <input type="text" name="teams" />
    </div> -->
    <div>
        <label>Boroughs</label>
        <input type="text" name="boroughs" />
    </div>
    <div>
        <label>Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Image URL</label>
        <input type="text" name="imageUrl" />
    </div>
    <br>
    <button type="submit">Add Sport</button>


</form>